//---------------------------------------------------------------------------
//
// Name:        WXApp.rc
// Author:      davin
// Created:     11/17/2015 11:08:21 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
